<br>
<% if logged_in? %>
<h3>Welcome, <%=current_user.username%></h3>
<a href="/sentences/new">Add to the story</a>
<a href="/logout">Log Out</a>
<% else %>
<a href="/signup">Sign Up</a>
<a href="/login">Login</a>
<% end %>

<br>
<br>

<% Sentence.all.each do |t|%>
  <p><%= t.content %></p>
<% end %>
