<!doctype html>
<html>
  <head>
    <title>Welcome to Story Creator</title>
  </head>
  <body>




      <h5> Collaborate with other users to make a story. <br>
        Each person adds a sentence to the story</h5>


    </body>
    </html>
